*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
/*///////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////--section 1--////////////////////////////////*/

.section-one{
    width: 100%;
    height: 100vh;
    background-image: url(../imge/bg-light.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.form-login{
    position: absolute;
    margin-left: 810px;
    margin-top: 130px;
    width: 25%;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
    background-color:rgba(119, 68, 48, 0.5);
}

.form-login h2{
    background-color: #fff;
    height: 50px;
    width: 70%;
    margin-left: 50px;
    padding-top: 10px;
    border-radius: 10px;
    color: #f04815;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-login input{
    width: 80%;
    height: 50px;
    margin: 10px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
   border: 1px solid rgb(238, 69, 18);
   background-color:rgba(29, 15, 13, 0.5);
}
.form-login button{
    width: 70%;
    height: 45px;
    border-radius: 10px;
    background-color: #f04815;
    color: #fff;
    border: none;
    font-size: 30px;
}
.form-login .acc , span{
    color: #fff;
    font-size: 20px;
}
.form-login .sign{
    color: #f70b0b;
    font-size: 25px;
    text-decoration: none;
}
.form-login .with{
    color: #fff;
}
.form-login a i {
    color: #fff;
    font-size: 30px;
    padding-left: 10px;
}


.header{
    width: 100%;
    height: 80px;
    position: fixed;
    overflow: auto;
    background-color: rgb(0,0,0);
    z-index: 5;
}

.logo{
    margin-left: 60px;
    float: left;
}

.navbar {
    list-style: none;
    float: left;
    margin-left: 200px;
    margin-top: 30px;
}
.navbar  li{
    display: inline-block;
    padding-right: 30px;
}
.navbar  li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    position: relative;
}

.header .navbar  li a::after{
    position: absolute;
    content: " ";

    width:0 ;
    height: 3px;

    bottom: -7px;
    left: 0;

    opacity: 0;
    transition: 0.5s;

    background-color: #dd0707;
}

.header .navbar  li a:hover::after{
    width: 100%;
    opacity: 1;
}

/*social media*/
.social{
    margin-top: 30px;
    margin-left: 1020px;
}
.social a i{
    color: #fff;
    font-size: 25px;
    margin-left: 20px;
    transition: 0.5s;
}
.social a i:hover{
    transform: scale(1.5);
    color: #dd0707;
}

/*pragraph in section-1*/

.hero{
    position: absolute;
    width: 500px;
    top: 25%;
    left: 7%;
    color: #fff;
}
.hero-h4{
    font-size: 40px;
    line-height: 60px;
}
.hero-h1{
    font-size: 50px;
}
.bmw{
    color: #dd0707;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 100px;
}
.hero-p{
    line-height: 60px;
}

.booking{
    background-color: #e20b0b;
    height: 50px;
    width: 250px;
    border-radius: 30px;
    text-align: center;  
    border:3px solid red;
}

.booking a{
    line-height: 40px;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

/*///////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////--section 2--////////////////////////////////*/
.head-section2 { margin-bottom: 40px;}
.head-section2 h2{
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
}
.head-section2 p{
    background-color: #e20b0b;
    height: 5px;
    width: 21%;
    margin-left: 450px;
}

.section-two{
    width: 85%;
    margin: auto;
}

.products-contain{
    overflow: auto;
    margin-top: 15px;
    
}

.product-iteam{
    float: left;
    width: 24%;
    border-radius: 5px;
    border: 0.3px solid rgb(167, 164, 164);
    /* background-color: azure; */
    position: relative;
}
.product-iteam:hover{
    border: 1px solid rgb(252, 0, 0);
}

.ww{
    margin-right:  10px;
}

.product-image{
    width: 95%;
    margin: auto;
    margin-top: 5px;
    transition: 1s;
}

.product-image img{
    width: 100%;
}
.product-iteam .product-info{
    text-align: center;
    line-height: 30px;
}

.product-info span{
    font-size: 20px;
    color: black;
}
.product-info h2{
    font-size: 25px;
}

.product-info button{
    margin-bottom: 15px;
    margin-top: 15px;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid red;
    color: #fff;
    background-color: rgb(226, 11, 11);
    font-size: 25px;
    transition: 1s;
}
.product-info button:hover{
    transform: scale(1.2);
}

/*///////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////--section 3--////////////////////////////////*/
.body-sec3{
    position: relative;
    background-color:#e9dcdc;
    border-radius: 20px;
}
.head-section3 h2{
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
}
.head-section3 p{
    background-color: #e20b0b;
    height: 5px;
    width: 21%;
    margin-left: 400px;
}

.section-3{
    width: 75%;
    margin: auto;
    margin-top: 50px;
}

.team-containt{
    overflow: auto;
    margin-top: 60px;
}

.team-iteam{
    overflow: auto;
    float: left;
    width: 45%;
    position: relative;
    height: 180px;
}

.www{
    margin-right: 100px;
}

.team-1-imge{
    float: left;
}
.team-1-imge img{
    border-radius: 50%;
    border: 1px solid rgb(112, 110, 110);
}

.team-1-info{
    position: absolute;
    float: right;
    margin-left: 170px;
    top: 0;
    line-height: 25px;
}
.team-1-info h2{
    font-family: 'Oswald', sans-serif;
}
.team-1-info .describtion{
    color: #e20b0b;
    font-weight: bold;
}
.team-1-info p{
    font-style: italic;
    color: rgb(83, 80, 80);
}
.team-1-info a i{
    color: rgb(87, 83, 83);
    padding-left: 20px;
    font-size: 25px;
    transition: 0.5s;
}
.team-1-info a i:hover{
    color: #f10808;
    transform: scale(1.3);
}

/* ///side/// */
.side-right p{
    height: 140px;
    width: 50px;
    background-color: #dd0707;
    position: absolute;
    left: 0;
}
.side-left p{
    height: 140px;
    width: 50px;
    background-color: #dd0707;
    position: absolute;
    right: 0;
}
/*///////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////--section 4--////////////////////////////////*/
.body-sec4{
    margin-top: 100px;
    margin-bottom: 100px;
    background-image: url(../imge/sec4.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.overlay-sec4{
    background-color: rgb(0, 0, 0 , 0.5);
    /* border-radius: 20px; */
}
.section-four{
    width: 65%;
    margin: auto;
}

.icon-containt{
    height: 400px;
    overflow: auto;
}
.icon-iteam{
    float: left;
    width: 15%;
    margin-right: 10%;
    text-align: center;
    margin-top: 150px;
    line-height: 30px;
    color: #fff;
}
.icon-iteam i{
    font-size: 40px;
    color:#e20b0b;
}
/*///////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////--section 5--////////////////////////////////*/
.head-section5 h2{
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
}
.head-section5 p{
    background-color: #e20b0b;
    height: 5px;
    width: 30%;
    margin-left: 380px;
}

.section-5{
    width: 80%;
    margin: auto;
}

.feature-containt{
    overflow: auto;
    margin: 80px 0;
}

.feature-iteam{
    position: relative;
    width: 30%;
    float: left;
    text-align: center;
}
.w5{margin: 0 53px;}

.overlay-sec5{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgb(0, 0, 0,0.5);
    line-height: 28px;

    visibility: hidden;
    opacity: 0;
    transition: 0.7s;
}
.feature-iteam:hover .overlay-sec5{
    opacity: 1;
    line-height: 35px;
    visibility: visible;
}
.overlay-contain{
    margin-top: 80px;
}

.overlay-sec5 span{
    color: #dd0707;
}

.overlay-sec5 h2{
    color: #fff;
}
.overlay-sec5 a i{
    background-color: #dd0707;
    color: #fff;
    width: 50px;
    height: 50px;
    padding-top: 10px;
    font-size: 30px;
}
.feature-iteam img{
    border: 1px solid rgb(211, 203, 203);
}


/*///////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////--footer--////////////////////////////////*/

.footer{
    background-color: black;
    text-align: center;
    padding-top: 30px;
}
.footer img{
    display: block;
    border-radius: 50%;
    border: 3px solid white;
    margin-left: 580px;
    margin-bottom: 20px;
}
.footer a  {
    text-decoration: none;
    color: #fff;
}
.footer a i {
    font-size: 30px;
    padding-top: 10px;
    margin-right: 10px;
    background-color: #e20b0b;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.footer a i:hover{
    background-color: #c53131;
}
.footer p{
    color: rgb(170, 163, 163);
    padding-bottom: 20px;
    padding-top: 20px;
}
